.example-property {
	/*Layout Properties*/
	position: absolute;
	display: block;
	float: left;
	clear: both;
	
  /*Box Model Properties*/
	vertical-align: top;
	top: 2px;
	right: 0;
	margin: 20px;
	padding: 0 5px;
	width: 23.5%;
  height: 100px;
	
	/*Visual Properties*/
	background: white;
	border: 5px solid $vpchc-blue;
  border-radius: 25px;
	box-shadow: 10px 10px 5px $shadow;
    
	/*Typography Properties*/
  text-align: center;
	line-height: 1.4;
  font-size: 25px;
  font-family: "Georgia", Times, serif;
	font-weight: bold;
  color: $vpchc-blue;
	content: "";
	text-decoration: none;
	
	/*Misc Properties*/
	visibility: hidden;
	z-index: 10;
	overflow: auto;
	opacity: 0;
  transition: opacity 1s;
	cursor: pointer;
	*display: inline;
	zoom: 1; 
	
	/*Media Queries*/
	@media only screen and (max-width: 1365px) { font-size: 15px;}
	
	@media only screen and (max-width: 1082px) { 
		width: 50%;
		
		font-size: 14px;
	}
	
	/*Nested Properties*/
	&:hover { background: blue;}

	&.small { width: 20px;}
	
	&.street { 
		margin-top: 20px;
	
		@media only screen and (max-width: 1082px) { margin: 0;}
	}
}