/********|*********|*********|*********|*********|*********|*********|*********/
/*
  CSS Properties follow "Outside In" principle for ordering.
  1)Layout Properties (position, float, clear, display)
  2)Box Model Properties (width, height, margin, padding)
  3)Visual Properties (color, background, border, box-shadow)
  4)Typography Properties (font-size, font-family, text-align, text-transform)
  5)Misc Properties (cursor, overflow, z-index)
*/
/*------------------------------------*\
                #Globals
\*------------------------------------*/
/* 
    Table of Contents
        Banner
        Buttons
        Company Colors
        Explanation Paragraphs
        Fancy Quote
        Main Containers
        Nav Links
        Sidebars
        Tab
        Titles
*/

/*------------------------------------*\
  #Banner
\*------------------------------------*/

#banner { height: 180px;}
#banner-left {
    float: left;
    
    height: 172px;
    width: 600px;
    border-bottom: 5px dashed #70b244;
}
#banner-pic {
    height: 162px;
    width: 600px;
}
#banner-right {
    float: right;
    
    height: 180px;
    width: 766px;
}
#banner-title {
    margin-top: 40px;
    
    text-align: center;
    font-size: 64px;
    font-family: "Franklin Gothic Medium", Times, serif;
}

/*------------------------------------*\
  #Buttons
\*------------------------------------*/

.vpchcbutton {
    padding: 0 4px;
    
    background: #fff;
    border: none;
    color: #2d4a70;
}
.vpchcbutton:hover {  
    background: #70b244;
    
    transition: 0.5s;
}
.vpchcbutton:active {
    background: #2d4a70;
    color: #70b244;
    
    transition: none;
}

/*------------------------------------*\
  #Company Colors
\*------------------------------------*/

.vpchcblue { color: #3a4e8c;}
.vpchcgreen { color: #70b244;}
.blue-rectangle, 
  .green-rectangle {
    margin: 10px 0;
    height: 50px;
    width: 500px;
}
.blue-rectangle { background: #3a4e8c;}
.green-rectangle { background: #70b244;}
.vpchcgreenborder { border: 5px solid #70b244;}
.vpchcblueborder { border: 5px solid #3a4e8c;}

/*------------------------------------*\
  #Explantion Paragraphs
\*------------------------------------*/

#explain-content {
    margin: 100px 0 0 30px;
    width: 1300px;
}
.explain-title {
    margin: 20px 0;
    
    font-size: 60px;
    font-family: "Franklin Gothic Medium", Times, serif;
}
.explain-subtitle {
    clear: both;
    
    margin: 20px 0 20px 15px;
    
    font-size: 36px;
    font-weight: bold;
    font-family: "Franklin Gothic Demi", Times, serif;
}
.explain-p, 
  #explain-content li {
    font-size: 16px;
    font-family: "Georgia", Times, serif;
}
.explain-p { margin-left: 20px;}
.explain-p-title {
    margin: 20px 0 20px 20px;
    
    font-weight: bold;
}
#explain-content li {
    margin: 10px 0 0 30px;
    
    list-style-image: url('/images/green_bullet.png');
}

/*------------------------------------*\
  #Fancy Quote
\*------------------------------------*/

#quote {
    margin: 80px auto;
    width: 720px;
    
    font-size: 25px;
    font-family: "Georgia", Times, serif;
}
.quote-text {
    display: inline-block;
    zoom:1;
    *display:inline;

    margin: 35px 0 0 50px;
    height: 140px;
    width: 540px;
    
    color: #258f71;
}
.large-quote-left {
    float: left;
    
    height: 50px; 

    
    font-size: 104px;
}
.large-quote-right {
    float: right;

    margin: 181px 40px 0 0;
    height: 50px; 
    
    font-size: 104px;
    line-height: 1;
}

/*------------------------------------*\
  #Main Containers
\*------------------------------------*/

* { 
    margin: 0; 
    padding: 0; 
}
#masterbox {
    position: relative;
    margin: 50px auto 50px auto;
	width: 1366px;
}
#masterbox-no-top {
    margin: 0 auto 50px auto;
    width: 1366px;
}
#masterbox-home {
    margin: 0 auto;
    width: 1366px;
}
header {
    position: relative;
    left:0;
    right:0;
    background: url(/images/headergutter.png) repeat-x;
}
#head-wrap {
    position: relative;
    margin: 0 auto;
    width: 1366px;
    height: 141px;
}
#header-img {
    height: 141px;
}
footer { 
    position: relative;
    left:0;
    right:0;
    
    background: url(/images/footergutter.png) repeat-x;
}
#foot-wrap {
    position: relative;
    margin: 0 auto;
    width: 1366px;
}
#foot-img { 
    margin: 0 auto;
    height: 80px;
}
/*------------------------------------*\
  #Navlinks
\*------------------------------------*/

#navlinks {
	position: absolute;
    
    width: 645px;
	top: 84px;
	right: 80px;
    
	color: #3a2d02;
    
    z-index: 1;
    list-style-type: none;
}

.dropbtn {
    padding: 12px;
    
    background: #70b244;
    border: none;
    
    font-size: 20px;
    color: white;
    font-family: "Franklin Gothic Medium", Times, serif;
    
    cursor: pointer;
}
.dropdown {
    display: inline-block;
    position: relative;
    zoom:1;
    *display:inline;
    padding-right: 10px;
}
.dropdown-content {
    position: absolute;
    
    height: 0;
    min-width: 160px;
    
    background: #f9f9f9;
    border-radius: 0 7px 7px 7px;
    box-shadow: 0 2px 2px #ddd;
    
    overflow: hidden;
    
    transition: all .5s ease 0s;

}
.dropdown-content a {
    display: block;
    
    padding: 12px 15px;
    height: 30px;
    
    color: black;
    font-family: "Franklin Gothic Medium", Times, serif;;
    text-decoration: none;
  
    transition: all .5s ease;
}
.dropdown-content a:hover {
    background: #dbdeea;
    box-shadow: 0px 2px 2px #dbdeea;
}
.dropdown:hover .dropbtn { background-color: #3e8e41;}
#about.dropdown:hover .dropdown-content { height: 268px;}
#locations.dropdown:hover .dropdown-content { height: 325px;}
#services.dropdown:hover .dropdown-content { height: 268px;}
#resources.dropdown:hover .dropdown-content { height: 218px;}
#contact.dropdown:hover .dropdown-content { height: 109px;}

/*------------------------------------*\
  #Sidebars
\*------------------------------------*/

#sidebar { 
    position: fixed;
    
    border: 5px solid #70b244;
    border-radius: 25px;
}
#sidebar a { text-decoration: none;}
.sidebar-section.vpchcbutton {
    display: block;
    
    padding: 10px;
    
    border-style:none;
    
    font-size: 19px;
    
    cursor: pointer;
}
.roundtop { border-radius: 17px 17px 0 0;}
.roundbottom { border-radius: 0 0 17px 17px;}
/*----Small----*/
.small-sidebar { margin-left: 10px;}
.small-bar.vpchcbutton {
    height: 40px;
    width: 85px;
}
/*----Large----*/
.large-sidebar { margin: 10px 0 0 10px;}
.large-bar.vpchcbutton { width: 230px;}

/*------------------------------------*\
  #Tab
\*------------------------------------*/

#tab-content { width: 900px;}
.tab-board { margin-left: 225px;}
.tab-team { margin-left: 300px;}
.tab { margin-top: 10px;}
.tab-bar { height: 75px;}
.tab-box-container { display: none;}
.tab-bar p {
    float: left;
    margin: 10px 0 0 10px;
    
    color: white;
    font-family: "Franklin Gothic Medium", Times, serif;
}
.tab-name-tiny {
    width: 700px;
    
    font-size: 25px;
}
.tab-name-small { font-size: 40px;}
.tab-name-large { font-size: 45px;}
.tab-bar img { margin-top: 10px;}
.drop-arrow {
    float: right;
    
    height: 60px;
    width: 80px;
}
.tab th { width: 895px;}
.tab table, 
  .tab th { border: 3px solid #70b244;}
.tab-details {
    float: left;
    
    width: 645px;
}
.tab-details p {
    float: left;
    
    text-align: left;
}
.tab-title {
    margin: 10px 0 0 15px;
    
    width: 580px;
    
    font-size: 40px;
    color: #3a4e8c;
}
.tab-bio {
    display: none;
    
    margin: 50px 0 0 15px;
    width: 630px;
    
    font-size: 20px;
    font-weight: 100;
    line-height: 200%;
    font-family: Times, serif;
}
.tab-answer {
    margin-left:5px;
    padding: 5px;
    
    font-size: 20px;
    text-align: left;
    font-family: "Georgia", Times, serif;
}
.tab-loc { width: 645px;}
.tab-loc p {
    margin: 50px 0 10px 15px;
    
    font-size: 25px;
    font-weight: 100;
}
.tab-loc li {
    float: left;
    
    margin: 50px 0 10px 35px;
    
    font-size: 25px;
    text-align: left;
    font-weight: 100;
}
.tab-loc-small p {
    float: right;
    
    margin: 20px 20px 0 0;
    
    font-size: 33px;
}
.tab-pic {
    display: none;
    float: right;  
    
    padding: 10px;
    
    height: 260px;
    width: 215px;
}
.tab-prov {
    background: #3a4e8c;
    
    cursor: pointer;
}
.team-ps { background: #70b244;}
.team-admin { background: #258f71;}

/*------------------------------------*\
  #Titles
\*------------------------------------*/

h1 {
    margin: auto;
    
    font-size: 60px;
    text-align: center;
    font-family: "Franklin Gothic Heavy", Times, serif;
}
h2, 
  #page-tinytitle {
    margin: 20px auto;
    
    text-align: center;
}
h2,
  #page-tinytitle, 
  .section-title,
  .section-title-centered,
  h3 { font-family: "Franklin Gothic Medium", Times, serif;}
h2, 
  .section-title,
  .section-title-centered { font-size: 30px;}
#page-tinytitle { font-size: 25px;}
h3 {
    margin-top: 20px;
    
    font-size: 50px;
}
.section-title-centered { text-align: center;}


/*------------------------------------*\
        #Page/Page Group Specific
\*------------------------------------*/
/* 
    Table of Contents
        About Us
        Archive
        Bus Tracker
        Careers
        Contact Us
        Dental
        Diabetes
        FAQs
        Forms
        Governing Board
        History
        Home
        Locations
        News
        Services
        Services Provided
        Stats
*/

/*------------------------------------*\
  #About Us
\*------------------------------------*/

#about-content {
    margin: 80px 0 0 140px;
    width: 1100px;
}
#about-content p {
    margin-bottom: 30px;
    
    font-size: 25px;
    font-family: "Georgia", Times, serif;
}
#about-subcontent {
    margin: 0 0 100px 300px;
    width: 800px;
}
.about-subcontent-title {
    margin: 60px 0;
    
    font-size: 40px;
    font-family: "Franklin Gothic Medium", Times, serif;
}
.about-subcontent-answers {
    margin-left: 20px;
    
    font-size: 26px;
}
.firstp { text-indent: 35px;}

/*------------------------------------*\
  #Archive
\*------------------------------------*/

#archive-content { margin-left: 131px; }
#archive-options {
    margin-left: 440px;
    width: 660px;
}
#archive-options .vpchcbutton {
    margin-right: 175px;
    
    font-size: 50px;
}
.archive-link { 
    display: block;
    
    margin-top: 20px;
    
    font-size: 30px;
}
.news-link { margin-left: 380px; }
.photos-link { margin-left: 265px; }
#archive-news-section {
    width: 800px;
    margin: auto;
}
#archive-news-section p { text-indent: 50px; }
.archive-photos {
    margin: 30px 0 0 150px;
    width: 800px;
}
.archive-photos p {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: "Georgia", Times, serif;
    color: black;
}
.archive-photos img { border: 5px solid #3a4e8c; }
.archive-photos img.horizontal {
    height: 300px;
    width: 500px;
}
.archive-photos img.vertical {
    height: 300px;
    width: 250px;
}
.archive-photos .horizontal, 
  .archive-photos.horizontal a { margin: 10px 0 0 140px; }
.archive-photos .vertical, 
  .archive-photos.vertical a { margin: 10px 0 0 270px ;}
#archive-photos-section {
    margin: 0 auto;
    width: 1000px;
}
.archive-photos-container {
    margin: 0 auto;
    width: 760px;
}
#archive-photos-section img {
    margin-top: 10px;
    border: 5px solid #3a4e8c;
}
#archive-photos-section img.horizontal {
    height: 500px;
    width: 750px;
}
#archive-photos-section img.vertical {
    height: 550px;
    width: 368px;
}

/*------------------------------------*\
  #Bus Tracker
\*------------------------------------*/

#bus-tracker{
    height: 410px;
    width: 500px;
    
    border: 5px solid #3a4e8c;
    box-shadow: 10px 10px 5px #888888; 
}
#bus-tracker * p {
    font-family: "georgia", Times, serif;
    font-size: 26px;
    font-weight: 900;
}
#bus-tracker-title {
    background: #dadbdd;
 
    text-align: center;
    font-size: 35px;
    font-family: "Franklin Gothic Medium", Times, serif;
}
#bus-tracker .vpchcbutton{
    padding: 10px;
    
    margin: 30px 0 0 110px;
    
    border-radius: 25px;
    
    font-size: 25px;
    font-weight: 900;
}
#bus-tracker-info{
    float: left;
    
    margin-left: 15px;
    width: 130px;
}
#bus-tracker-info p,
  #bus-tracker-data p { margin-top: 40px;}
#bus-status-icon {
    float: left;
    
    margin-left: 20px;
    height: 30px;
    width: 30px;
}
#bus-tracker-data {
    float: right;
    
    margin-right: 10px;
    width: 330px;
}
.bus-tracker-data-section { text-align: center;}
#bus-status{
    width: 280px;
    
    text-align: center;
}

/*------------------------------------*\
  #Careers
\*------------------------------------*/

#careers-list  {
    margin: 10px auto 50px auto;
    
    width: 1000px;
}
#careers-list li {
    font-size: 30px;
    font-family: "Franklin Gothic Book", Times, serif;
}
.careers-listing {
    margin: 50px auto 0 auto;
    
    width: 800px;
}
.careers-listing p, 
  #onsub {
    font-family: "Georgia", Times, serif;
    font-weight: bold;
}
.careers-listing p { font-size: 20px;}
#form_address { display: none;}
#onsub {
    width: 760px;
    
    color: #3a4e8c;
}
#onsub-title {
    height: 30px;
    width: auto;
    
    background: #3a4e8c;
    
    font-size: 25px;
    text-align:center;
    color: white;
}
#onsub-box {
    height: 345px;
    width: auto;
    
    background: #dcdeea;
}
.onsub-field { padding: 15px;}
.onsub-field input{ padding-right: 140px;}
#onsub-foot { width: auto;}
#onsub-foot-left {
    float: left;
    
    margin-left: 17px;
}
#onsub-foot-right {
    float: right;
    
    margin-right: 17px;
}
#onsub * .vpchcbutton { font-size: 25px;}

/*------------------------------------*\
  #Contact Us
\*------------------------------------*/

#contact-table-container {
    margin: 100px 0 20px 120px;
    
    width: 1200px;
}
#contact-table td {
    height: 380px;
    width: 417px;
}
#contact-table img {
    height: 160px;
    width: 317px;
}
.contact-info { font-size: 24px;}
.contact-info-street { margin-top: 20px; }
.contact-info-state { margin-bottom: 20px; }
.contact-location {
    margin-top: 20px;
    
    font-size: 28px;
    font-weight: bold;
    font-family: "Franklin Gothic Demi", Times, serif;
}
#contact-questions {
    margin-top: 50px;
    
    text-align: center;   
}
#contact-questions-title {
    margin-bottom: 20px;
    
    font-size: 60px;
    font-family: "Franklin Gothic Medium", Times, serif;
}
#contact-questions-content {
    font-size: 30px;
    font-family: "Georgia", Times, serif;
}

/*------------------------------------*\
  #Dental
\*------------------------------------*/

.dental-patches {
    float: right;
    
    margin-right: 300px;
    height: 350px;
    width: 320px;
}
#dental-public {
    height: 500px;
}

/*------------------------------------*\
  #Diabetes
\*------------------------------------*/

.double-arrow {
    height: 50px;
    width: 105px;
}
.diabetes-section { 
    margin: 20px 0 0 20px;
    width: 1200px; 
}
#diabetes-meeting {
    float: left;
    
    margin-top: 10px;
    padding: 5px 15px;
    width: 590px;
}
#diabetes-meeting-day {
    margin-left: 20px;
    
    font-size: 32px;
    color: black;
    font-family: "Georgia", Times, serif;
}
#diabetes-meeting-times {
    float: right;
    
    margin-right: 15px;
    
    font-size: 45px;
    color: black;
    font-weight: bold;
    font-family: "Franklin Gothic Demi", Times, serif;
}
#diabetes-meeting-topics {
    float: right;
    
    margin-top: 20px;
    height: 100px;
    width: 550px;
    
    font-size: 32px;
    font-family: "Franklin Gothic Medium", Times, serif;
}
#diabetes-rsvp {
    padding: 14px;
    
    font-size: 40px;
    font-family: "Franklin Gothic Demi", Times, serif;
}
#diabetes-meeting-hours {
    float: right;
    
    margin-top: 20px;
    height: 120px;
    width: 550px;
}
#diabetes-meeting-hours p {
    font-size: 32px;
}
#patres-scale-title, 
  #patres-script-title, 
  #patres-diabetes-title, 
  #patres-links-title {
    cursor: pointer;
}
#patres-scale,
  #patres-script, 
  #patres-diabetes,
  #patres-links {
    display: none;
}

/*------------------------------------*\
  #FAQs
\*------------------------------------*/

#faq {
    margin: auto;
    width: 800px;
}

/*------------------------------------*\
  #Forms
\*------------------------------------*/

#forms-content-options { 
    display: block;

    margin-top: 20px;
}
#forms-content * .vpchcbutton {
    display: block;
    margin: 0 auto 50px auto;
    padding: 10px;
    
    border-radius: 25px;
    
    font-size: 40px;
}
#forms-content * a {
    display: block;
    
    font-size: 20px;
    text-align: center;
}
#forms-content-clinic { display: none;}
#forms-content-type { display: none;}
#forms-content * table {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    font-family: "georgia", Times, serif;
}
.forms-table-age {
    margin: 20px 0 0 250px;
    width: 866px;
}
.forms-table-location { width: 1366px;}
.forms-table-pics {
    background: #258f71;
    border: 5px solid #3a4e8c;
    box-shadow: 10px 10px 5px #888888;
    
    cursor: pointer;
}
#forms-content * .forms-content-number { margin: 20px 0 10px 0;}
#forms-category,
  #forms-consent,
  #forms-notice,
  #forms-programs,
  #forms-records-choice,
  #forms-student { display: none;}
.forms-simple-section { margin-left: 10px;}
.forms-simple-title {
    font-size: 35px;
    font-weight: 900;
    font-family: "Franklin Gothic Medium", Times, serif;
}
.form-simple-subsection {
    margin-left: 20px;
    
    font-size: 30px;
    font-weight: 900;
    font-family: "Georgia", Times, serif;
}
.forms-simple-section * a {
    font-size: 30px;
    font-weight: 100;
}
.forms-square-blue, 
 .forms-square-green {
    height: 300px;
    width: 300px;
}
.forms-age-pic {
    height: 300px;
    width: 300px;
}

/*------------------------------------*\
  #Governing Board
\*------------------------------------*/

#board-descript > p {
    margin: 20px auto 0 auto;

    font-size: 26px;
    font-family: "Georgia", Times, serif;
}

/*------------------------------------*\
  #History
\*------------------------------------*/

#history {
    margin: 30px auto 0 auto;
    height: 1500px;
    width: 600px;
    
    background: url(/images/timeline_bg.gif) repeat-y center top; 
    
    font-family: "Franklin Gothic Medium", Times, serif;
    
    overflow: hidden;
}
.timeline {
    position: relative;
    float: left;
    
    margin: 0 0 50px 20px;
    padding: 10px 200px 0 0;
    width: 235px;
 
    border-top: 3px solid #70b244;
}
.timeline-year {
    position: absolute;
    right: 0;
    top: 2px;
    
    font-size: 48px;
    color: #70b244;
}
.timeline-month-blue {
    font-size: 20px;
    
    color: #3a4e8c;
}
.timeline-month-green {
    font-size: 20px;
    
    color: #70b244;
}
.even {
    float: right;
    
    padding: 10px 0 0 200px;
    
    border-color: #3a4e8c;
}
.timeline.even .timeline-year {
    left: 0;
    color: #3a4e8c;
}
.timeline p { margin-top: 5px; }
#history-continued {
    height: 50px;
    background: url(/images/timeline_bg_downarrow.gif) repeat-y center top; 
}

/*------------------------------------*\
  #Home
\*------------------------------------*/

#slideshow { 
    position: relative; 
   
    height: 428px; 
    width: 1366px; 
}
#slideshow > div { position: absolute; }

/*------------------------------------*\
  #Locations
\*------------------------------------*/

#location-info {
    margin: 80px 0 20px 0;
    height: 500px;
}
#location-info-left {
    float: left;
    
    margin-left: 80px;
    width: 500px;
}
#location-hour-title {
    font-size: 46px;
    font-family: "Franklin Gothic Medium", Times, serif;
    color: #3a4e8c;
}
.location-hours {
    font-size: 26px;
    font-family: "Franklin Gothic Demi",Times, serif;
}
.location-hours-one { margin-bottom: 140px; }
.location-hours-three { margin-bottom: 80px; }
#location-info-left li {
    margin: 40px 0;
    
    font-size: 16px;
    font-weight: bold;
    font-family: "Franklin Gothic Demi", Times, serif;
    
    list-style-image: url( '/images/green_bullet.png');
}
#location-info-left span { color: #3a4e8c;}
#location-info-right {
    float: right;
    
    margin-right: 100px;
    width: 500px;
}
.location-contact {
    font-size: 36px;
    font-family: Times, serif;
}
#location-map { 
    margin-top: 40px; 
    height: 300px;
    width: 500px; 
    border: 0;
}
#location-providers-section {
    margin: 10px auto;
    width: 1186px;
}
.team-table td {
    width: 590px;
    background: #3a4e8c;
    
    font-family: "Franklin Gothic Medium", Times, serif;
    font-size: 45px;
    color: white;
}
.team-table td p { margin-left: 10px;}

/*------------------------------------*\
  #News
\*------------------------------------*/

#share {
    float: left;
    
    margin: 50px 0 0 50px;
    width: 600px;
}
#twitter {
    margin-left: 10px;
    height: 180px;
    width: 550px;
 
    background-color: #55acee;
    border-radius: 10px;
}
#twitter-feed {
    margin: 36px auto 0 auto;
    width: 500px;
}
#facebook {
    vertical-align: top;
    
    margin: 20px 0 0 10px;
    height: 1000px;
    width: 550px;

    background-color: #3b5998;
    border-radius: 10px;
}
#facebook-feed {
    margin-left: 25px;
    padding-top: 25px;
    width: 500px;
}
.share-button { margin: 5px 0 0 15px;}
#events {
    float: right;
        
    width: 500px;
    margin: 50px 80px 0 0;
    vertical-align: top;
}
#events img {
    height: 500px;
    width: 500px;
}
#events-container { margin-top: 36px;}
.upcoming-events-title { font-size: 35px;}
.upcoming-events-section {
    margin-bottom: 10px;
    
    border:  4px solid #258f71;
    
    font-size: 25px;
}
#news { clear: both;}
.news-title {
    text-align: center;
    font-size: 39px;
    font-weight: 900;
    font-family: "Georgia", Times, serif;
}
.news-article {
    margin: 0 auto 20px auto;
    width: 1100px;
}
.news-article-title {
    font-size: 25px;
    font-weight: 900;
    font-family: "Georgia", Times, serif;
    color: black;
}
.news-article-preview {
    margin-left: 15px;
    font-size: 18px;
}
#archive-button {
    margin: 0 auto;
    width: 165px;
}
#news .vpchcbutton { font-size: 25px;}

/*------------------------------------*\
  #Services
\*------------------------------------*/

#services-button > .vpchcbutton {
    text-decoration: none;
    font-size: 25px;
    border-radius: 15px;
}
#services-button {
    margin: 25px auto 0 auto;
    width: 800px;
    
    text-align: center;
}
#iconbanner-title {
    margin-top: 60px;
    height: 105px;
}
#iconbanner-title-word {
    float: right;
    
    margin-top: 10px;
    
    font-family: "Franklin Gothic Medium", Times, serif;
    font-size: 64px;
    text-align: center;
}
.iconbanner-word-dental { margin-right: 260px;}
.iconbanner-word-bh { margin-right: 75px;}
.iconbanner-word-medical { margin-right: 210px;}
.iconbanner-word-ps { margin-right: 100px;}
#iconbanner-title-icon {
    float: left;
    
    height: 95px;
    width: 95px;
}
.iconbanner-dental { margin-left: 210px;}
.iconbanner-bh { margin-left: 75px;}
.iconbanner-medical { margin-left: 215px;}
.iconbanner-ps { margin-left: 100px;}

/*------------------------------------*\
  #Services Provided
\*------------------------------------*/

#services-provided { margin: 40px 0;}
.services-provided-section {
    display: inline-block;
    zoom:1;
    *display:inline;
    
    height: 100px;
    width: 300px;
    
    border-radius: 25px;
    
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Georgia", Times, serif;
    color: #3a4e8c;
   
    transition: all .5s ease;
}
.services-provided-section:hover { background: #dbdeea;}
.services-provided-section.four-sections { margin-left: 22px;}
.services-provided-section.three-sections { margin-left: 105px;}
.services-provided-section > img {
    height: 65px;
    width: 65px;
}

/*------------------------------------*\
  #Stats
\*------------------------------------*/

#stats-options {
    margin-left: 440px;
    width: 800px;
}
#stats-options .vpchcbutton {
    margin-right: 125px;
    
    font-size: 50px;
}
/********|*********|*********|*********|*********|*********|*********|*********/