/********|*********|*********|*********|*********|*********|*********|*********/
/*
  CSS Properties follow "Outside In" principle for ordering.
  1)Layout Properties (position, float, clear, display)
  2)Box Model Properties (width, height, margin, padding)
  3)Visual Properties (color, background, border, box-shadow)
  4)Typography Properties (font-size, font-family, text-align, text-transform)
  5)Misc Properties (cursor, overflow, z-index, transitions)
*/
/*------------------------------------*\
                #Globals
\*------------------------------------*/
/* 
    Table of Contents
        Buttons
        Company Colors
        Explanation Paragraphs
        Main Containers
        Sidebars
        Tab
        Titles
*/

/*------------------------------------*\
  #Explantion Paragraphs
\*------------------------------------*/


.explain-p-title {
    margin: 20px 0 20px 20px;
    
    font-weight: bold;
}

#explain-button-row{
		margin-bottom: 20px;
		text-align: justify;
		font-size: 0.1px; /*For IE 9/10*/
}
.explain-button{
		display: inline-block;
		
		padding: 0 20px;
		width: 230px;
		
		background: #70b244;
}
#explain-button-row:after{
		display: inline-block;
		
		content: '';
		
		width: 100%;	
}
.explain-button p{
		padding: 10px 0;
		
		text-align: center;
		font-family: "Franklin Gothic Book", Times, serif;
		font-size: 1.5vw;
		color: #ffffff;
}
/*new explain*/
#explain-newcontent{margin: 20px 0 0 30px;}

/*------------------------------------*\
  #Main Containers
\*------------------------------------*/

#masterbox {
    position: relative;
	
    margin: 0px auto 50px auto;
  	width: 1349px;
}

/*------------------------------------*\
  #Tab
\*------------------------------------*/



/*------------------------------------*\
  #Titles
\*------------------------------------*/

h1 {
    margin: 20px auto;
    
    font-size: 60px;
    text-align: center;
    font-family: "Franklin Gothic Heavy", Times, serif;
}
h2, 
  #page-tinytitle {
    margin: 20px auto;
    
    text-align: center;
}
h2,
  #page-tinytitle, 
  .section-title,
  .section-title-centered { font-family: "Franklin Gothic Medium", Times, serif;}
h2, 
  .section-title,
  .section-title-centered { font-size: 30px;}
#page-tinytitle { font-size: 25px;}

.section-title-centered { text-align: center;}


/*------------------------------------*\
        #Page/Page Group Specific
\*------------------------------------*/
/* 
    Table of Contents
        Archive
        Bus Tracker
        Careers
        Contact Us
        Dental
        Diabetes
        FAQs
        Forms
        Home
        Locations
        News
        Services
        Services Provided
        Stats
*/

/*------------------------------------*\
  #Archive
\*------------------------------------*/

#archive-content { margin-left: 131px; }
#archive-options {
    margin: 0 auto;
    width: 361px;
}
#archive-options .vpchcbutton {
    margin-right: 30px;
    
    font-size: 50px;
}
.archive-link { 
    display: block;
    
    margin-top: 20px;
    
    font-size: 30px;
}
.news-link { margin-left: 380px; }
.photos-link { margin-left: 265px; }
#archive-news-section {
    width: 800px;
    margin: auto;
}
#archive-news-section p { text-indent: 50px; }
.archive-photos {
    margin: 30px 0 0 150px;
    width: 800px;
}
.archive-photos p {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: "Georgia", Times, serif;
    color: black;
}
.archive-photos img { border: 5px solid #3a4e8c; }
.archive-photos img.horizontal {
    height: 300px;
    width: 500px;
}
.archive-photos img.vertical {
    height: 300px;
    width: 250px;
}
.archive-photos .horizontal, 
  .archive-photos.horizontal a { margin: 10px 0 0 140px; }
.archive-photos .vertical, 
  .archive-photos.vertical a { margin: 10px 0 0 270px ;}
#archive-photos-section {
    margin: 0 auto;
    width: 1000px;
}
.archive-photos-container {
    margin: 0 auto;
    width: 760px;
}
#archive-photos-section img {
    margin-top: 10px;
    border: 5px solid #3a4e8c;
}
#archive-photos-section img.horizontal {
    height: 500px;
    width: 750px;
}
#archive-photos-section img.vertical {
    height: 550px;
    width: 368px;
}

/*------------------------------------*\
  #Careers
\*------------------------------------*/

.careers-listing  {
    margin: 10px auto 50px auto;
    
    width: 1000px;
}
.careers-listing li {
    font-size: 16px;
    font-family: "Georgia", Times, serif;
}
.careers-listing {
    margin: 50px auto 0 auto;
    
    width: 800px;
}
.careers-listing p, 
  #onsub {
    font-family: "Georgia", Times, serif;
    font-weight: bold;
}
.careers-listing p { font-size: 20px;}
#form_address { display: none;}
#onsub {
    width: 760px;
    
    color: #3a4e8c;
}
#onsub-title {
    height: 30px;
    width: auto;
    
    background: #3a4e8c;
    
    font-size: 25px;
    text-align:center;
    color: white;
}
#onsub-box {
    height: 345px;
    width: auto;
    
    background: #dcdeea;
}
.onsub-field { padding: 15px;}
.onsub-field input{ padding-right: 140px;}
#onsub-foot { width: auto;}
#onsub-foot-left {
    float: left;
    
    margin-left: 17px;
}
#onsub-foot-right {
    float: right;
    
    margin-right: 17px;
}
#onsub * .vpchcbutton { font-size: 25px;}



/*------------------------------------*\
  #Stats
\*------------------------------------*/

#stats-options { width: 98%;}
#stats-options .vpchcbutton {
    width: 49%;
    
    font-size: 50px;
}

/*------------------------------------*\
            #Media Queries
\*------------------------------------*/

/*------------------------------------*\
            #Large Resolutions
\*------------------------------------*/
@media only screen and (max-width: 1365px) {
    
    
    /*------------------------------------*\
      #Explantion Paragraphs
    \*------------------------------------*/

    #explain-newcontent{width: 1000px;}
		.explain-button{width: 150px;}

    /*------------------------------------*\
      #Main Containers
    \*------------------------------------*/

    #masterbox { width: 1060px;}
      
    /*------------------------------------*\
      #Sidebars
    \*------------------------------------*/
    
    .sidebar-section { font-size: 14px;}
    /*----Large----*/
    .large-sidebar { margin-bottom: 0px;}
    .large-bar { width: 150px;}

    /*------------------------------------*\
      #Titles
    \*------------------------------------*/
    
    h1 {font-size: 50px;}
    h2 {padding: 0 5px;}
    
    /*------------------------------------*\
      #Contact Us
    \*------------------------------------*/

    #contact-table-container { width: 1000px;}
    
  
 
}

/*------------------------------------*\
            #Small Resolutions
\*------------------------------------*/

@media only screen and (max-width: 1082px) {
    
    /*------------------------------------*\
      #Explantion Paragraphs
    \*------------------------------------*/

    .explain-p, 
      #explain-content li{ font-size: 14px;}
		.explain-button{ display: none;}
	

    
    /*------------------------------------*\
      #Main Containers
    \*------------------------------------*/
   
    #masterbox-home { padding-top: 80px;}
    #masterbox { 
        padding-top: 80px;
        width: 100%;
    }
    
   
    /*------------------------------------*\
      #Titles
    \*------------------------------------*/
    
    h1 {font-size: 30px;}
    h2 {font-size: 25px;}
    .section-title-centered { font-size: 25px;}
    
    /*------------------------------------*\
      #Archive
    \*------------------------------------*/

    #archive-news-section { width: 85%;}
    #archive-news-section p { text-indent: 50px;}
    #archive-photos-section { width: 100%;}
    .archive-photos-container { width: 310px;}
    #archive-photos-section img {
        margin: 20px auto 0 auto;
    }
    #archive-photos-section img.horizontal {
        height: auto;
        width: 300px;
    }
    #archive-content { margin: 0 5px;}
    #archive-options {
        margin: 0 auto;
        width: 230px;
    }
    #archive-options .vpchcbutton {
        margin-right: 30px;

        font-size: 25px;
    }
    .archive-link { 
        margin: 20px auto 0 auto;

        font-size: 20px;
    }
    .news-link,
      .photos-link { 
        margin-left: 0px; 

        text-align: center;
    }
    .archive-photos {
        margin: 10px 0 0 0px;
        width: 100%;
    }
    .archive-photos p { font-size: 20px;}
    .archive-photos img.horizontal {
        display: block;
        
        margin: 20px auto;
        height: 200px;
        width: 300px;
    }
    .archive-photos img.vertical {
        display: block;

        margin: 20px auto;
        height: 300px;
        width: 220px;
    }
    .archive-photos.horizontal a,
      .archive-photos.vertical a { 
        display: block;
        
        margin: 0 auto 20px auto;
        
        text-align: center;
    }
    .archive-photos-container { width: 95%;}
    .archive-photos-container img{display: block;}
    #archive-photos-section img.vertical {
        height: 300px;
        width: 220px;
    }
    

    
    /*------------------------------------*\
      #Careers
    \*------------------------------------*/

    .careers-listing { margin-top: 0px;}
    .careers-listing  { width: 95%;}
    .careers-listing li { font-size: 14px;}
    .careers-listing p { font-size: 20px;}
    #form_address { display: none;}
    #onsub { 
        margin: 0 auto;
        width: 300px;}
    #onsub-box {
        height: 400px;
    }
    .onsub-field input{ padding-right: 50px;}
    #onsub * .vpchcbutton { font-size: 20px;}
    

    /*------------------------------------*\
      #News
    \*------------------------------------*/
    .news-article{width: 98%;}
    .news-article-title{font-size: 18px;}
    .news-article-preview{font-size: 14px;}
    
}
/********|*********|*********|*********|*********|*********|*********|*********/