
RewriteEngine on
RewriteCond %{HTTP_HOST} ^vpchc\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.vpchc\.org$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/valleypro\ health\.org\/" [R=301,L]

