// Styles used in footer.php

@import "../3-modules/variables";

footer { 
	position: relative;
    
  padding-top: 10px;
	
  background: white;
	
  z-index: 10;
}
.footer-locations {
  height: 35px;
    
  background: #70b244;
	
	@media only screen and (max-width: 1365px) { height: 85px;}
	
	@media only screen and (max-width: 1082px) {
		height: auto;
    
    overflow: auto;
	}
}
.footer-locations > a {
	float: left;
    
  margin-top: 5px;
  width: 14.2857%;
  height: auto;
    
  text-align: center;
  font-size: 20px;
	color: white;
  font-family: "Franklin Gothic Medium", Times, serif;
  text-decoration: none;
	
	@media only screen and (max-width: 1365px) { 
		width: 33%; 
		
		&:last-child { width: 100%;}
	}
	
	@media only screen and (max-width: 1082px) { width: 50%;}
}
.footer-icons {
  float: left;
    
	width: 34%;
  height: auto;
	
	@media only screen and (max-width: 1082px) {
		float: none;
        
    margin: 0 auto;
    width: 285px;
	}
}
.footer-icons img {
  margin: 10px 0 0 80px;
	width: auto;
  height: 120px;
	
	@media only screen and (max-width: 1365px) {
		margin: 10px 0 0 80px;
    height: 75px;
	}
	
	@media only screen and (max-width: 1082px) {
		margin: 10px 0px;
		width: auto;
   	height: 85px;
	}
}
.sitemap {
	float: right;
    
  margin-top: 5px;
  width: 66%;
	
	@media only screen and (max-width: 1082px) { width: 90%;}
}
.sitemap-section {
  display: inline-grid;
    
  margin-bottom: 10px;
	width: 155px;
	
	@media only screen and (max-width: 1082px) { width: 155px;}
}
.sitemap-section a {
  display: block;
    
  margin-left: 20px;
	
  font-size: 14px;
	color: black;
	font-family: "Franklin Gothic Medium", Times, serif;
  text-decoration: none;
	
	&:first-child{
			margin-left: 0;
    
			font-size: 16px;
			font-family: "Franklin Gothic Heavy", Times, serif;
	}
	
	@media only screen and (max-width: 1082px) { 
		display: block;

	  margin-left: 20px;

    color: black;
		font-family: "Franklin Gothic Medium", Times, serif;
    text-decoration: none;
	}
}
.footer-disclaimer {
	position: relative;
	clear: both;
	display: block;
	
  margin: 0 auto;
  width: 95%;
    
  text-align: center;
  font-size: 14px;
	color: black;
}