@import "../3-modules/variables";

/*------------------------------------*\
  #Banner
\*------------------------------------*/

.banner {
	position: relative;
  
	width: 100%;
  max-height: 540px;
	
	@media only screen and (max-width: 1082px) {
		padding-top: 80px; 
		height: auto;
	}
}
.banner img{
  width: 100%;
  max-height: 540px;
}
.banner-title {
  position: absolute;
  
  top: 58%;
	width: 100%;
  height: 36%;
  
  background-color: $white-transparent;
	
	@media only screen and (max-width: 1082px) {
		top: 73%;
  
    height: 22%;
	}
}

/*------------------------------------*\
  #Content
\*------------------------------------*/

.content { 
	margin: 20px 40px;
	
	@media only screen and (max-width: 1082px) {
		margin: 10px auto 0 auto;
    width: 95%;
	}
}
.content > p {
	margin-left: 30px;
	
	font-size: 1.2vw;
  font-family: "Franklin Gothic Book", Times, serif;
	
	@media only screen and (max-width: 1082px) { 
		margin-left: 0px;
		
		font-size: 14px;
	}
}
.content-centered {
	margin: 0 auto;
	width: 1000px;
	
	@media only screen and (max-width: 1365px) { width: 850px;}
	@media only screen and (max-width: 1082px) {
		margin: 0 auto; 
    width: 95%;
	}
}
.content-section{
	float: left;
  
	width: 50%;
	height: auto;
	
	overflow: auto;
}
.content-section > iframe{
		float: right;
		
		margin-top: 20px;
	  width: 90%;
    height: 430px;
}

/*------------------------------------*\
  #Tab
\*------------------------------------*/

.tab { margin: 10px auto 0 auto;}
.tab-bar { 
	height: 75px;

	@media only screen and (max-width: 1082px) { pointer-events: none;}
}
.tab-bar > p {
 	color: white;
  font-family: "Franklin Gothic Heavy", Georgia, serif;
}
.tab-name {
	float: left;
	
  margin: 15px 0 0 25px;
    
  font-size: 45px;
	
	@media only screen and (max-width: 1082px) {
		display: block;
        
    margin: 15px auto 0 auto;
    width: 100%;
        
    text-align: center;
    font-size: 22px;
	}
}
.tab-simple {
  display: block;
	float: left;
    
  margin: 10px;
  width: 98%;
    
  font-size: 40px;
	
	@media only screen and (max-width: 1082px) {
		width: 100%;
        
    font-size: 25px;
    text-align: center;
	}
}
.tab-simple > span { 
  float: right;
    
  margin-top: 15px;
    
  font-size: 25px;
	
	@media only screen and (max-width: 1082px) {
		display: block;
        
    margin-top: 0px;
    width: 100%;
        
    font-size: 20px;
    text-align: center;
	}
}
.tabgrey { background: $vpchc-grey;}

/*------------------------------------*\
  #Slideshow
\*------------------------------------*/

.bx-wrapper{
    position: relative;
    max-height: 540px;
}
#slideshow {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 540px;
}
#slideshow img,#slideshow-news img{
    width: 100%;
    max-height: 540px;
}
.slide-info{
    position: absolute;
    
    width: 562px;
    left: 8%;
    top: 50%;
    
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.slide-info-block{
    padding: 10px 25px 0 25px;
    
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.75);
}
.slide-info-title,.slide-news-info-title{     
    padding-bottom: 5px;   
    border-bottom: 3px solid #70b244;
    color: #3a4e8c;
   
    font-family: "Franklin Gothic Medium", Times, serif;
}
.slide-info-title{ font-size: 55px;}
.slide-info-subtitle,.slide-news-info-title{  
    padding-top: 5px;
    
    color: #3a4e8c;
    
    font-family: "Franklin Gothic Demi", Times, serif;
}
.slide-info-subtitle{
		padding-bottom: 40px;
	
		font-size: 35px;
}
.slide-info-button{
    display: inline-block;
    position: relative;
    
    padding: 14px 15px;
    left: 30px;
    bottom: 25px;
    width: 260px;
    
    background: #70b244;
    color: #fff;
    border-radius: 15px;
   
    font-family: "Georgia", Times, serif;
    font-weight: 700;
    text-decoration: none;
    
    transition: all 0.5s ease;
}
.slide-info-button:hover{ background: #3a4e8c;}
.slide-info-span{
    position: absolute;
    display: block;
    
    top: 8px;
    right: 15px;
    width: 26px;
    height: 26px;

    border: rgba(255, 255, 255, 0.50) solid 2px;
   
    border-radius: 15px;
    background: url(/images/homepage/slideshow/arrow-right.png) center no-repeat;
}
.bx-prev {
    position: absolute;
    
    top: 50%;
    left: 0;
    width: 42px;
    height: 50px;
   
    background: url(/images/slideshow/prev_arrow.png) no-repeat left top;
   
    text-indent: -99999px;
    
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 10;
}
.bx-next {
    position: absolute;
    
    top: 50%;
    right: 0;
    width: 42px;
    height: 50px;
    
    background: url(/images/slideshow/next_arrow.png) no-repeat left top;
   
    text-indent: -99999px;
    
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 10;
}
/*news slideshow*/
.slideshow-news{
    position: relative;
    z-index: 1;
    width: 10%;
    max-height: 540px;
}
