/*------------------------------------*\
  #Archive
\*------------------------------------*/
.archive-section { margin-bottom: 20px;}
.archive-section img {
	display: block;
	
	margin: 10px auto;
	height: auto;
	width: 600px;
	
	@media only screen and (max-width: 1082px) { width: 300px;}
}
.archive-section p {
	margin: 0 auto;
	width: 900px;
	
	@media only screen and (max-width: 1082px) {
		width: 100%;
		
		font-size: 12px;
	}
}
.archive-section li {
	margin: 0 auto;
	width: 900px;
	
	font-size: 14px;
	
	@media only screen and (max-width: 1082px) {
		width: 100%;
		
		font-size: 12px;
	}
}

/*------------------------------------*\
  #Contact Us
\*------------------------------------*/
.contact-table {
	margin-top: 20px; 
	width: 100%;
}
.contact-table td {
	width: 417px;
  height: 380px;
	
	@media only screen and (max-width: 1082px) { 
		display: block;
		
		margin: 0 auto 15px auto;
		width: 60%;
		height: auto;
	}
}
.contact-table img {
	display: block;
    
	margin: 0 auto;
	width: 317px;
  height: 180px;
	
	@media only screen and (max-width: 1082px) { 
		width: 100%;
		height: auto;
	}
}
.contact-location {
	margin: 20px auto 0 auto;
  width: 317px;
    
  font-size: 28px;
  font-weight: bold;
  font-family: "Franklin Gothic Demi", Times, serif;
	color: $vpchc-green;
	
	@media only screen and (max-width: 1082px) { 
		margin: 0;
	
		font-size: 20px;
	}
}
.contact-info { 
	margin: 0 auto;
  width: 317px;
    
  font-size: 24px;
	
	@media only screen and (max-width: 1082px) {
		margin: 0;
		
		font-size: 18px;
	}
	
	&.street { 
		margin-top: 20px;
	
		@media only screen and (max-width: 1082px) { margin: 0;}
	}
	
	&.state { 
		margin-bottom: 20px;
		
		@media only screen and (max-width: 1082px) { margin: 0;}
	}
}
.contact-questions {
	margin-bottom: 50px;;
    
  text-align: center;   
}
.contact-questions-title {
  margin-bottom: 20px;
    
  font-size: 60px;
  font-family: "Franklin Gothic Medium", Times, serif;
	color: $vpchc-blue;
	
	@media only screen and (max-width: 1082px) { font-size: 35px;}
}
.contact-questions-content {
  font-size: 30px;
  font-family: "Georgia", Times, serif;
	
	@media only screen and (max-width: 1082px) { font-size: 20px;}
}


/*------------------------------------*\
  #Forms
\*------------------------------------*/

.forms * .vpchcbutton {
	display: block;
  
	margin: 0 auto 50px auto;
  padding: 10px;
    
  border-radius: 25px;
    
  font-size: 40px;
	
	@media only screen and (max-width: 1365px) { font-size: 30px;}
	
	@media only screen and (max-width: 1082px) { font-size: 15px;}
}
.forms p { margin: 10px 0;}
#forms-newpat-locations { display: none;}
#forms-newpat-age { display: none;}
.forms-table {
	font-size: 30px;
  text-align: center;
  font-weight: 900;
  font-family: "Georgia", Times, serif;
	
	@media only screen and (max-width: 1365px) { font-size: 20px;}
	
	&.locations { margin: 0 auto;}
	
	&.age {  
		margin: 20px auto 0 auto;
    width: 866px;
		
		@media only screen and (max-width: 1082px) { width: 100%;}
	}
}
.forms-table td { 
	padding-left: 60px;

	@media only screen and (max-width: 1365px) { 
		display: block;
		
		padding-left: 0;
		padding-bottom: 10px;
	}
}
.forms-pic {
  border: 5px solid $vpchc-blue;
  box-shadow: 10px 10px 5px $shadow;
    
  cursor: pointer;
	
	&.locations {
		@media only screen and (max-width: 1365px) { width: 250px;}
	}
	
	&.age {
		width: 300px;
		height: 300px;
		
		@media only screen and (max-width: 1365px) { 
			width: 250px;
			height: 250px;
		}
		
		@media only screen and (max-width: 1365px) { 
			width: 150px;
			height: 150px;
		}
	}
}
.forms-square {
	width: 310px;
	height: 310px;
	
	@media only screen and (max-width: 1365px) { 
		width: 250px;
		height: 250px;
	}
	
	@media only screen and (max-width: 1082px) { display: none;}
}
#forms-category,
  #forms-consent,
  #forms-notice,
  #forms-programs,
  #forms-records-choice,
  #forms-student { display: none;}


/*------------------------------------*\
      #History
\*------------------------------------*/
.history {
	margin: 30px auto 0 auto;
	width: 600px;
  height: auto;

  background: url(/images/history/timeline_bg.gif) repeat-y center top; 
   
	font-family: "Franklin Gothic Medium", Times, serif;
    
  overflow: hidden;
	
	@media only screen and (max-width: 1082px) { 
		margin: 30px auto 0 auto;
		width: 300px;
    height: auto;

    background: none;    
	}
}
.timeline {
	position: relative;
  float: left;
    
	margin: 0 0 50px 20px;
  padding: 10px 200px 0 0;
	width: 235px;
 
  border-top: 3px solid $vpchc-green;

	@media only screen and (max-width: 1082px) { 
		margin: 0 auto 20px auto;
    padding: 20px 50px 10px 10px;
    width: 235px;

    border: 3px solid $vpchc-green;
	}
}
.timeline-year {
	position: absolute;
  right: 0;
  top: 2px;
    
  font-size: 48px;
  color: $vpchc-green;
	@media only screen and (max-width: 1082px) { 
		padding: 0 5px;
        
    font-size: 20px;
	}
}
.timeline-month-blue {
  font-size: 20px;
    
  color: $vpchc-blue;
	
	@media only screen and (max-width: 1082px) { font-size: 20px;}
}
.timeline-month-green {
	font-size: 20px;
    
  color: $vpchc-green;
	
	@media only screen and (max-width: 1082px) { font-size: 20px;}
}
.even {
	float: right;
    
  padding: 10px 0 0 200px;
    
  border-color: $vpchc-blue;
	
	@media only screen and (max-width: 1082px) { 
		padding: 20px 0px 10px 60px;
        
    border-color: $vpchc-blue;
	}
}
.timeline.even .timeline-year {
    left: 0;
	
    color: $vpchc-blue;
}
.timeline p { 
	margin-top: 5px; 
	
	@media only screen and (max-width: 1082px) { 
		margin-top: 5px;
    padding-right: 5px;

		font-size: 12px;
	}
}
.history-continued {
	height: 50px;

	background: url(/images/history/timeline_bg_downarrow.gif) repeat-y center top; 
	
	@media only screen and (max-width: 1082px) { display: none;}
}

/*------------------------------------*\
  #Home
\*------------------------------------*/

.home-about {
	margin: 30px auto 0 auto;
	width: 98%;
  height: auto;
}
.home-about-hands {
	display: inline-block;
	float: left;
    
  width: 8%;
	
	@media only screen and (max-width: 1365px) { width: 12%;}
	
	@media only screen and (max-width: 1082px) { display: none;}
}
.home-about > p {
  display: inline-block;
	float: left;
  
	margin: 1vw 0 0 30px;
  width: 65%;
    
	font-size: 1.25vw;
  font-family: "Franklin Gothic Book", Times, serif;
	
	@media only screen and (max-width: 1365px) { width: 55%;}
	
	@media only screen and (max-width: 1082px) {  
		display: block;
		float: none;
		
		margin: 0px auto 20px auto;
    padding: 10px;
    width: 95%;

    font-size: 14px;
	}
}
.home-about-info {
	display: inline-block;
  float: right;
    
  margin-right: 60px;
  width: 20%;
	
	@media only screen and (max-width: 1365px) { 
		margin-right: 10px;
		width: 25%;
	}
	
	@media only screen and (max-width: 1082px) {  
		display: block;
		float: none;
    
    margin: 0 auto;
		width: 55%;
	}
}
.home-button-row {
  clear: both;
    
  margin: 0 auto;
  width: 100%;
    
  text-align: justify;
	
	&:after {
		display: inline-block;

		width: 100%;
    
    content: "";
	}
	@media only screen and (max-width: 1082px) { width: 60%;}
}
.home-button {
	display: inline-block;
  clear: both;
	
	margin: 30px 20px;
	vertical-align: top;
	width: 21.7%;
  height: auto;

    /* IE fix. */
	*display: inline;
	zoom: 1; 
	
	@media only screen and (max-width: 1365px) { width: 20.5%;}
	@media only screen and (max-width: 1082px) { 
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
.home-button img { width: 100%;}

/*------------------------------------*\
  #News
\*------------------------------------*/

#events-calendar {
	margin: 30px auto 0 auto;
  width: 100%;
	
	@media only screen and (max-width: 1365px) { height: 500px;}
	@media only screen and (max-width: 1082px) { display: none;}
}
#events-smallcalendar { 
	display: none;

	@media only screen and (max-width: 1082px) { 
		display: block;
			
		margin: 15px 0;
		width: 100%;
		height: 300px;
	}
}
.news-article-title {
		padding-right: 30px;
	
    font-size: 20px;
    font-weight: 900;
    font-family: "Georgia", Times, serif;
    color: black;
}
.news-article-preview {
		padding-right: 30px;
	
    font-family: "Georgia", Times, serif;
    font-size: 16px;
}

/*------------------------------------*\
  #Locations
\*------------------------------------*/

.location-photo {
	width: 800px;

	@media only screen and (max-width: 1365px) { width: 634px;}
	
	@media only screen and (max-width: 1082px) { 
		display: block;

    margin: 0 auto;
    width: 80%
	}
}
.location-info {
	float: right;
  width: 500px;
  
  font-size: 15px;
  text-align: center;
  line-height: 1.4;
	
	@media only screen and (max-width: 1365px) {
		width: 408px;

    font-size: 12px;
	}
	
	@media only screen and (max-width: 1082px) { 
		float: none;
      
    margin: 0 auto;
    width: 300px;
	}
}
.location-title, .location-subtitle {
  font-family: "Franklin Gothic Medium", Times, serif;
  color: $vpchc-blue;
}
.location-title { 
	font-size: 36px;

	@media only screen and (max-width: 1365px) { font-size: 25px;}
	
	@media only screen and (max-width: 1082px) { 
		margin-top: 5px; 

    font-size: 25px;
	}
}
.location-subtitle {
	margin: 10px 0;
	font-size: 20px;
}
.location-contact {
  margin: 0 auto;
  width: 130px;
	
	@media only screen and (max-width: 1365px) { 
		margin-left: 150px;
    width: 100px;
	}
	
	@media only screen and (max-width: 1082px) { margin-left: 100px;}
}
.location-contact > img{
  float: left;
  width: 20px;
	
	@media only screen and (max-width: 1365px) { 
	  float: left;
    width: 14px;
	}
}
.location-details{
  float: left;
	
	margin-top: 20px;
	
	@media only screen and (max-width: 1365px) { width: 634px;}
	
	@media only screen and (max-width: 1082px) { 
		display: block;
		float: none; 

		margin: 10px auto;
    width: 300px;
		height: auto;	
		 
    text-align: center;
	}
}
.location-services {
  position: relative;
  display: inline-block;
	
  margin-bottom: 30px;
	
		
	@media only screen and (max-width: 1082px) { 
		position: relative;
    display: block;

		margin-bottom: 40px;
	}
}
.location-services img {
  display: inline-block;
  
  margin: 0 35px;
  width: 80px;
  
  cursor: pointer;
	
	@media only screen and (max-width: 1082px) { 
		display: block;

    margin: 0 auto;
    width: 50px;
	}
}

.location-services span {
	position: absolute;
   
	padding: 5px 0;
	width: 150px;
	
  background-color: $vpchc-blue;
  border-radius: 6px;
	
  text-align: center;
	font-family: "Franklin Gothic Medium", Times, serif;
	color: white;
	
	visibility: hidden;
  z-index: 1;
	opacity: 0;
  transition: opacity 1s;
	
	@media only screen and (max-width: 1082px) { 
		display: block;

    margin: 5px 75px;
    width: 150px;

    font-size: 12px;

    visibility: visible;
    opacity: 10;
	}
}
.location-services:hover span { 
	visibility: visible;
	opacity: 1;
}
.location-services span::after {
	position: absolute;

  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  
	border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $vpchc-blue transparent;
	
	content: " ";
}
.team-table { @media only screen and (max-width: 1082px) { width: 300px;}}
.team-table td {
  width: 398px;
	
  background: $vpchc-blue;
    
	font-size: 25px;
  font-family: "Franklin Gothic Medium", Times, serif;

  color: white;
	
	@media only screen and (max-width: 1365px) { 
		width: 634px;
    background: $vpchc-blue;

		font-size: 15px;
    font-family: "Franklin Gothic Medium", Times, serif;
		color: white;
	}
	
	@media only screen and (max-width: 1082px) { 
		display: block;
   
		margin-bottom: 10px;
    width: 100%;
	}
}
.team-table td p {
	margin-left: 10px;
	
	@media only screen and (max-width: 1082px) { margin-left: 10px;}
}
.location-map { 
	margin: 30px 0 0 50px; 
	width: 497px; 
  height: 400px;
  
	border: 0;
	
	@media only screen and (max-width: 1365px) { 
		margin-left: 20px;
		width: 400px; 
    height: 350px;

    border: 0;
	}
	
	@media only screen and (max-width: 1082px) { 
		display: block;
    margin: 0 auto; 
    
		width: 300px; 
		height: 300px;
	}
}

/*------------------------------------*\
  #Bus Tracker
\*------------------------------------*/

.bus-tracker{
	display: inline-block;
	
	margin: 30px 0 0 50px;
	width: 485px;
  height: 350px;
    
  border: 5px solid $vpchc-blue;
  box-shadow: 10px 10px 5px $shadow; 
	
	@media only screen and (max-width: 1365px) { 
		margin-left: 10px;
		width: 400px;
	}
	
	@media only screen and (max-width: 1082px) { 
		display: block;
		
		margin: 0 auto;
		width: 300px;
		height: 268px;
	}
}
.bus-tracker-title {
 	background: $light-blue;
 
  text-align: center;
  font-size: 35px;
  font-family: "Franklin Gothic Medium", Times, serif;
	
	@media only screen and (max-width: 1082px) { font-size: 20px;}
}
.bus-tracker * p {
	font-size: 26px;
  font-family: "Georgia", Times, serif;
  font-weight: 900;
	@media only screen and (max-width: 1365px) { font-size: 20px;}
	
	@media only screen and (max-width: 1082px) { font-size: 14px;}
}
.bus-tracker-info {
    float: left;
    
    margin: 10px 0 0 15px;
    width: 97%;
}
.bus-tracker-info > p { margin-bottom: 40px;}
.bus-tracker-data {
    float: right;
    
		margin-bottom: 40px;
    width: 72%;
	
		text-align: center;
}
#bus-status-icon {
	margin-right: 15px;
  width: 30px;
	height: 30px;

	@media only screen and (max-width: 1082px) { 
		margin-right: 5px;
		width: 20px;
		height: 20px;
	}
}
.bus-tracker-view.vpchcbutton {
	display: block;
	clear: both;
	
  margin: 0px auto;
  width: 160px;

  border-radius: 25px;
    
  font-size: 25px;
  font-weight: 900;
  text-decoration: none;
	
	@media only screen and (max-width: 1082px) { 
		width: 130px;
		
		font-size: 20px;
	}
}

/*------------------------------------*\
  #Careers
\*------------------------------------*/
.careers-values {
	font-size: 35px;
	color: $vpchc-blue;
}
#onsub {
	margin: 20px auto;
  width: 760px;
    
  color: $vpchc-blue;
	
	@media only screen and (max-width: 1082px) { 
		margin-top: 0;
		margin-bottom: 5px;
		width: 95%;
	}
}
#onsub-title {
	width: auto;
  height: 30px;
  
  background: $vpchc-blue;
    
  font-size: 25px;
  text-align:center;
  color: white;
}
#onsub-box {
	width: auto;
  height: 345px;
	
 	background: #dcdeea;
}
.onsub-field { padding: 15px;}
.onsub-field input{ 
	display: block;
	
	width: 99%;
}
#onsub-foot { width: auto;}
#onsub-foot-left {
	float: left;
    
  margin-left: 17px;
}
#onsub-foot-right {
  float: right;
    
  margin-right: 17px;
}
#onsub * .vpchcbutton { font-size: 25px;}

/*------------------------------------*\
  #Dental
\*------------------------------------*/

.dental-patches {
	display: block;
	
	margin: 0 auto;
	width: 320px;
  height: 350px;

	
	@media only screen and (max-width: 1082px) { 
		width: 170px;
		height: 200px;

	}
}

/*------------------------------------*\
  #Services
\*------------------------------------*/

.services-button.vpchcbutton {
	display: block;
	margin: 25px auto;
  width: 600px;
    
  text-align: center;
	
  text-decoration: none;
  font-size: 25px;
  border-radius: 15px;
	
	@media only screen and (max-width: 1082px) { 
		width: 300px;
		
		font-size: 14px;
	}
}
