/*------------------------------------*\
  #Company Colors
\*------------------------------------*/
$vpchc-blue  : #3a4e8c;
$vpchc-green : #70b244;
$vpchc-grey  : #258f71;

$white-light-transparent  : rgba(255, 255, 255, 0.25);
$white-medium-transparent : rgba(255, 255, 255, 0.50);
$white-heavy-transparent  : rgba(255, 255, 255, 0.75);

$off-white:  #f9f9f9;
$light-blue : #d9f1ff;

$shadow : #888888;

$vpchc-lightblue: #506db4;